streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

openai
sentence-transformers
chromadb

fastapi
uvicorn

streamlit-authenticator
passlib
PyJWT

sqlalchemy
pymongo

pypdf
pandas

python-dotenv
loguru
tiktoken