streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

openai
sentence-transformers
chromadb

fastapi
uvicorn

streamlit-authenticator
passlib[bcrypt]==4.0.1
python-jose
PyJWT

sqlalchemy
pymongo

pypdf
docx2txt
pandas

python-dotenv
loguru
tiktoken